<div ng-if="!$ctrl.userLoaded">
    <span class="glyphicon glyphicon-refresh"></span>
    Loading...
</div>

<div class="alert alert-danger" role="alert" ng-if="$ctrl.notfoundError">Пользователь не найден</div>

<div class="media">
    <div class="media-body">

        <h1 class="media-heading">{{$ctrl.user.username | uppercase }}</h1>
        <p>
            {{$ctrl.user.name}}</p>

        <button class="btn btn-danger" ng-click="$ctrl.deleteUser($ctrl.user.id)">
            <span class="glyphicon glyphicon-trash"></span>
            Удалить
        </button>
        <a class="btn btn-primary" href="#!/edit/{{$ctrl.user.id}}">
            Редактировать
        </a>

    </div>
</div>

<div class="alert alert-success" role="alert" ng-if="$ctrl.deletionSuccess">Пока, пользователь!</div>
<div class="alert alert-danger" role="alert" ng-if="$ctrl.deletionError">Пользователи не сдаются!</div>