<div class="row">
    <div class="col-md-8">
        <div class="list-group">
            <md-content>
                <md-list>
                    <md-list-item ng-repeat="singleUser in $ctrl.users">
                         <a href="#!/users/{{singleUser.id }}" class="list-group-item">
                            <h4>{{singleUser.username | uppercase }}</h4>
                            <p>{{singleUser.name }}</p>
                        </a>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
    <div class="col-md-4">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="singlePost in $ctrl.posts">
                <p>{{singlePost.title }}</p>
            </div>
        </div>
    </div>